**/.directory
.idea
dist/
build/
**/*~
**/*.egg-info/
**/*.pyc
**/*.rdb
venv
vagrant/.vagrant
mesos
source/cpp/3rdparty/boost/boost-*.*.*
source/cpp/3rdparty/picojson/picojson-*.*.*
source/cpp/3rdparty/googletest/googletest-release-1.8.0
